<!DOCTYPE html>
<html>
  <head>
    <title>@</title>
    <script src="../app/popup.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="options">
          <div role="button" title="Menu" class="open-options jfk-button-flat">
            <div class="img-settings button-right"></div>
          </div>
          <div class="menu-options">
            <select>
              <option value="1">David</option>
              <option value="2">Mohan</option>
            </select>
          </div>
        </div>
      </div>
      <div class="detail-container"></div>
    </div>
  </body>
</html>
