{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true // Target environments that support ES modules
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
